@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  font-family: 'Poppins', sans-serif;

}
.navbar{
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar span:nth-child(1){
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 3px;
}

.navbar span:nth-child(2){
  font-size: 20px;
}
.links{
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  width: 80%;
}

.links a{
  display: flex;
  padding: 10px;
  text-decoration: none;
  justify-content: center;
}

.btn {
  font-size: 24px;
  background-color: lightcoral;
  width: 80%;
  padding: 10px;
  height: 50px;
  cursor: pointer;
}

.btn:hover{
  background-color: darkkhaki;
  transform: scale(1.2);
}

.fa-code , .fa-brands {
  padding-right: 10px
}


.footer{
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: #fff;
}
